* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Banny';
  src: url("../fonts/Banny-BoldRound.eot");
  src: url("../fonts/Banny-BoldRound.eot?#iefix") format("embedded-opentype"), url("../fonts/Banny-BoldRound.woff2") format("woff2"), url("../fonts/Banny-BoldRound.woff") format("woff"), url("../fonts/Banny-BoldRound.ttf") format("truetype"), url("../fonts/Banny-BoldRound.svg#Banny-BoldRound") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body, html {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.main {
  height: 100vh;
  background: url("../img/header-bg.png") center/cover no-repeat;
  color: #fff;
}

.main__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 3;
}

@media (max-width: 987px) {
  .main__box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-height: 710px) {
  .main__box {
    padding-bottom: 30px;
  }
}

.main__time {
  writing-mode: vertical-lr;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 987px) {
  .main__time {
    writing-mode: horizontal-tb;
    order: 2;
    margin-bottom: 20px;
  }
}

@media (max-width: 987px) {
  .main__hungry {
    order: 1;
    margin-bottom: 40px;
  }
}

@media (max-width: 987px) {
  .main__socials {
    order: 3;
  }
}

@media (max-height: 710px) {
  .main__arrow {
    display: none;
  }
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
}

.header__left, .header__right {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.header__left::after, .header__right::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 530px;
  height: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1310px) {
  .header__left::after, .header__right::after {
    width: 450px;
  }
}

@media (max-width: 978px) {
  .header__left, .header__right {
    display: none;
  }
  .header__left._active, .header__right._active {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
}

.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

@media (max-width: 978px) {
  .header__box {
    transition: 0.3s;
    overflow: scroll;
  }
  .header__box._active {
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
  }
}

.header__swheel {
  position: absolute;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
}

.header__swheel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1310px) {
  .header__swheel {
    width: 120px;
    height: 120px;
    bottom: -50%;
  }
}

@media (max-width: 1075px) {
  .header__swheel {
    display: none;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 987px) {
  .header__burger {
    display: block;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 978px) {
  .menu__list {
    flex-direction: column;
  }
}

.menu__list li {
  padding: 0 35px;
}

@media (max-width: 978px) {
  .menu__list li {
    padding: 25px;
  }
}

.menu__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  transition: 0.3s;
}

@media (max-width: 978px) {
  .menu__link {
    font-size: 40px;
  }
}

.menu__link:hover {
  color: #999999;
}

.burger {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}

.burger::before, .burger::after {
  transition: all 0.2s ease-in;
  content: '';
  background-color: #aaa;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 0;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  transition: all 0.2s ease-in;
  background-color: #aaa;
  width: 40px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}

.burger._active::before, .burger._active::after {
  transition: all 0.2s ease-in;
  transform-origin: left;
}

.burger._active::before {
  transform: rotate(45deg);
  top: 5px;
}

.burger._active::after {
  transform: rotate(-45deg);
  bottom: 5px;
}

.burger._active span {
  transition: all 0.2s ease-in;
  opacity: 0;
}

.hungry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hungry__uptitle {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hungry__title {
  font-family: "Banny";
  margin-bottom: 40px;
}

@media (max-width: 538px) {
  .hungry__title {
    margin-bottom: 20px;
  }
}

.hungry__deco {
  margin-bottom: 30px;
}

.title {
  font-family: "Banny";
  color: #000;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.title_w {
  color: #fff;
}

.title__big {
  color: #fff;
  font-size: 96px;
}

@media (max-width: 538px) {
  .title__big {
    font-size: 66px;
  }
}

.deco {
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 440px;
  color: #fff;
}

@media (max-width: 538px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    max-width: 280px;
  }
}

.buttons a,
.buttons button {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 538px) {
  .buttons a,
  .buttons button {
    width: 100%;
  }
}

.buttons__glow {
  border: 2px solid #E8C300;
  background-color: #E8C300;
  transition: 0.3s;
}

.buttons__glow_f {
  width: 100%;
}

.buttons__glow:hover {
  border: 2px solid #b59800;
  background-color: #b59800;
}

@media (max-width: 538px) {
  .buttons__glow {
    margin-bottom: 20px;
  }
}

.buttons__empty {
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.buttons__empty:hover {
  border: 2px solid #b59800;
  background-color: #b59800;
}

.socials__item {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
  transition: 0.3s;
}

.socials__item:last-child {
  margin-bottom: 0;
}

.socials__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 987px) {
  .socials__item {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .socials__item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 987px) {
  .socials {
    display: flex;
  }
}

.arrow {
  width: 60px;
  height: 60px;
  position: relative;
  margin-bottom: 83px;
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 987px) {
  .arrow {
    margin-bottom: 40px;
  }
}

.arrow__outer {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.arrow__inner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.arrow__self {
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.arrow:hover .arrow__inner {
  background-color: #999999;
}

.arrow:hover .arrow__self {
  top: 55%;
}

.uptext {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  color: #000;
}

.uptext_w {
  color: #fff;
}

.text {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.text_w {
  color: #fff;
}

.about {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .about {
    padding: 40px 0;
  }
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 978px) {
  .about__box {
    flex-direction: column;
  }
}

.about__body {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 978px) {
  .about__body {
    max-width: 550px;
  }
}

.about__title {
  margin-bottom: 20px;
}

.about__deco {
  margin-bottom: 20px;
}

.about__pics {
  flex: 0 0 45%;
  position: relative;
  width: 600px;
  height: 475px;
}

@media (max-width: 978px) {
  .about__pics {
    display: none;
  }
}

.about__img {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1080px) {
  .about__img {
    width: 400px;
    height: 400px;
  }
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__ysquare {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  .about__ysquare {
    width: 200px;
    height: 200px;
  }
}

.about__ysquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team {
  background: url("../img/team-bg.png") center/cover no-repeat;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .team {
    padding: 40px 0;
  }
}

@media (max-width: 978px) {
  .team__stitle {
    margin-bottom: 30px;
  }
}

.team__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 978px) {
  .team__box {
    flex-direction: column;
  }
}

.team__pics {
  flex: 0 0 45%;
  width: 588px;
  height: 475px;
  position: relative;
}

@media (max-width: 978px) {
  .team__pics {
    display: none;
  }
}

.team__img {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1080px) {
  .team__img {
    width: 400px;
    height: 400px;
  }
}

.team__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__ysquare {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  .team__ysquare {
    width: 200px;
    height: 200px;
  }
}

.team__ysquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__body {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 978px) {
  .team__body {
    max-width: 550px;
  }
}

.team__title {
  margin-bottom: 20px;
}

.team__deco {
  margin-bottom: 20px;
}

.stitle {
  font-size: 12px;
  letter-spacing: 0.5em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.booking {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .booking {
    padding: 40px 0;
  }
}

.booking__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 978px) {
  .booking__box {
    justify-content: center;
  }
}

.booking__body {
  flex: 0 0 45%;
}

@media (max-width: 550px) {
  .booking__body {
    flex: 0 0 auto;
  }
}

.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.booking__title {
  margin-bottom: 20px;
}

.booking__deco {
  margin-bottom: 20px;
}

.booking__pics {
  flex: 0 0 45%;
  position: relative;
  width: 600px;
  height: 475px;
}

@media (max-width: 978px) {
  .booking__pics {
    display: none;
  }
}

.booking__img {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1080px) {
  .booking__img {
    width: 400px;
    height: 400px;
  }
}

.booking__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.booking__ysquare {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  .booking__ysquare {
    width: 200px;
    height: 200px;
  }
}

.booking__ysquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table {
  display: flex;
  flex-direction: column;
}

.table__columns-box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .table__columns-box {
    flex-direction: column;
  }
}

.table__column {
  flex: 0 0 48.5%;
  display: flex;
  flex-direction: column;
}

.table__column_row {
  flex-direction: row;
  justify-content: space-between;
}

.table__column_row input {
  flex: 0 0 32.5%;
}

.table__column_row input:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .table__column_row {
    flex-direction: column;
  }
  .table__column_row input {
    flex: 0 0 auto;
  }
}

.table__column-general {
  background-color: #E5E5E5;
  color: rgba(51, 51, 51, 0.5);
  height: 60px;
  width: 100%;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.table__column-general::placeholder {
  color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 768px) {
  .table__column-textarea {
    margin-bottom: 20px;
  }
}

.table__column-select {
  position: relative;
}

.table__column-select::after {
  content: "";
  background: url("../img/form-arrow.svg") center/cover no-repeat;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 6px;
  margin-top: -5px;
  z-index: 2;
}

.table__column-people-num {
  appearance: none;
}

.table__time {
  appearance: none;
}

.table__buttons button {
  flex: 1 1 auto;
  width: 100%;
}

@media (max-width: 978px) {
  .table__buttons {
    flex: 1 1 auto;
    width: 100%;
  }
}

.table__info {
  flex: 0 0 50.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .table__info {
    flex: 0 0 auto;
    flex-direction: column;
    margin-top: 20px;
    order: 2;
  }
}

.table__info-item {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
}

@media (max-width: 768px) {
  .table__info-item {
    margin-bottom: 10px;
  }
}

.table__info-icon {
  color: #E8C300;
  font-size: 14px;
  font-weight: 900;
}

.specs {
  background: url("../img/specs-bg.png") center/cover no-repeat;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .specs {
    padding: 40px 0;
  }
}

@media (max-width: 978px) {
  .specs__stitle {
    margin-bottom: 30px;
  }
}

.specs__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  min-width: 0;
}

@media (max-width: 978px) {
  .specs__box {
    flex-direction: column;
  }
}

.specs__pics {
  flex: 0 0 45%;
  width: 588px;
  height: 475px;
  position: relative;
}

@media (max-width: 978px) {
  .specs__pics {
    display: none;
  }
}

.specs__img {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1080px) {
  .specs__img {
    width: 400px;
    height: 400px;
  }
}

.specs__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specs__ysquare {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  .specs__ysquare {
    width: 200px;
    height: 200px;
  }
}

.specs__ysquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specs__body {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 978px) {
  .specs__body {
    max-width: 550px;
  }
}

.specs__title {
  margin-bottom: 20px;
}

.specs__deco {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.delicious {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .delicious {
    padding: 40px 0;
  }
}

.delicious__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delicious__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 550px;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .delicious__head {
    margin-bottom: 20px;
  }
}

.delicious__title {
  margin-bottom: 20px;
}

.delicious__deco {
  margin-bottom: 20px;
}

.delicious__uptext {
  margin-bottom: 0;
}

.delicious__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.delicious__tabs {
  width: 750px;
}

@media (max-width: 768px) {
  .delicious__tabs {
    width: 300px;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.tabs__item {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.tabs__item::after {
  content: "";
  height: 50px;
  width: 1px;
  background-color: rgba(51, 51, 51, 0.2);
  position: absolute;
  right: 0;
}

.tabs__item:last-child::after {
  display: none;
}

.tabs__item:hover {
  color: #E5E5E5;
  background-color: #333;
}

.tabs__content {
  width: 100%;
  display: none;
  animation: fadeEffect 1s;
}

.tabs__content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tabs__content-item {
  color: #333;
  padding: 0 15px 30px;
}

.tabs__content-item-name {
  font-family: Banny;
  font-size: 18px;
}

.tabs__content-item-sub {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.private {
  background: url("../img/private-bg.png") center/cover no-repeat;
  padding-top: 100px;
}

@media (max-width: 978px) {
  .private {
    padding: 40px 0;
  }
}

.private__stitle {
  margin-bottom: 30px;
}

.private__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .private__box {
    flex-direction: column;
  }
}

.private__pics {
  flex: 0 0 45%;
  width: 600px;
  height: 475px;
  position: relative;
}

@media (max-width: 1080px) {
  .private__pics {
    flex: 0 0 auto;
    width: 475px;
    height: 475px;
    margin-bottom: 30px;
  }
  .private__pics:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 520px) {
  .private__pics {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
  .private__pics:last-child {
    margin-bottom: 0;
  }
}

.private__img {
  width: 475px;
  height: 475px;
  position: absolute;
  top: 0;
}

.private__img-l {
  right: 0;
}

.private__img-r {
  left: 0;
}

@media (max-width: 520px) {
  .private__img {
    width: 300px;
    height: 300px;
  }
}

.private__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.private__img-text {
  display: flex;
  align-items: center;
  font-family: "Banny";
  font-size: 24px;
  text-transform: uppercase;
  width: 80px;
  height: 475px;
  background-color: #000;
  color: #fff;
  writing-mode: vertical-lr;
  position: absolute;
  top: 0;
}

.private__img-text-l {
  right: 0;
  padding-top: 20px;
}

.private__img-text-r {
  justify-content: flex-end;
  left: 0;
  padding-bottom: 20px;
}

@media (max-width: 520px) {
  .private__img-text {
    height: 300px;
  }
}

.private__ysquare {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.private__ysquare-l {
  left: 0;
}

.private__ysquare-r {
  right: 0;
}

.private__ysquare img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1080px) {
  .private__ysquare {
    display: none;
  }
}

.private__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.private__contacts span {
  font-weight: 700;
}

@media (max-width: 520px) {
  .private__contacts {
    height: 40px;
    color: transparent;
  }
}

.glr__box {
  width: 100%;
  display: flex;
}

.glr__item {
  flex: 0 0 25%;
}

.glr__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.contact {
  background-color: #fff;
  padding: 100px 0;
}

@media (max-width: 978px) {
  .contact {
    padding: 40px 0;
  }
}

.contact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

.contact__title {
  margin-bottom: 20px;
}

.contact__deco {
  margin-bottom: 20px;
}

.contact__form {
  width: 100%;
}

.map {
  height: 475px;
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.95);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__body span {
  font-weight: 700;
}
