$color-primary: #E8C300;
$color-white: #fff;
$color-black: #000;
$transparent-grey: rgba(255, 255, 255, 0.5);
$transparent-dgrey: rgba(255, 255, 255, 0.2);
$transparent-black: rgba(0, 0, 0, 0.95);
$transparent-light-grey: rgba(51, 51, 51, 0.5);
$light-grey: #E5E5E5;
$dark-grey: #333;